<h1>Your Pragmatic BookStore</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= link_to(image_tag(product.image_url), product, :method => :post )%>
		<h3> <%= product.title %></h3>
		<%= product.description.html_safe %>
		
		<div class='price-line'>
			<span class='price'><%= number_to_currency(product.price) %></span>
			<%= button_to 'Add to Cart', :action => 'add_to_cart', :id => product %>
		</div>
	</div>
<% end %>
<br/>
<div>
   <%= link_to 'View Cart', :action => 'cart' %>
</div>
